<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Herni Print 3D</title>
    <link href="../public/css/styles.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="../public/images/logo.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <a class="inicio" href="#">Inicio</a>
            <a href="#">Productos</a>
            <a href="#">Contacto</a>
            <a href="#">Carrito</a>
        </nav>
        <section class="textos-header">
            <h1>
                Si lo puedes imaginar, lo puedes crear
            </h1>
            <h2>
                El origen a tus ideas
            </h2>
            <button class="btn-contact"><a target="_blank" href="https://wa.me/1144472065">Quiero saber
                    Más</a></button>
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C207.95,258.06 328.72,-112.97 504.79,57.73 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #fff;"></path>
            </svg></div>
        </div>
    </header>
    <main>
        <section class="contenedor sobre-nosotros">
            <h2 class="titulo">Nuestros productos</h2>
            <div class="contenedor-sobre-nosotros">
                <img src="../public/images/yoda.jpg" alt="" class="imagen-about-us">
                <div class="contenido-textos">
                    <h3><span>1</span>Los mejores productos</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam nisi quidem porro adipisci expedita
                        asperiores doloribus eaque aut facere, repellat placeat vel quia odit harum? Iste quaerat
                        corrupti veritatis id.</p>
                    <h3><span>2</span>Los mejores productos</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti incidunt amet hic magnam enim
                        vel ut, illo neque repudiandae, nihil, voluptatum dolore ratione cupiditate dolor porro eaque
                        animi fugiat adipisci?</p>
                </div>
            </div>
        </section>
        <section class="portafolio">
            <h2 class="titulo">Portafolio</h2>
            <div class="contenedor_port"> 
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="../public/images/img1.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="../public/images/target.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                </div>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="../public/images/img2.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="../public/images/target.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                </div>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="../public/images/img3.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="../public/images/target.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                </div>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="../public/images/img4.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="../public/images/target.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                </div>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="../public/images/img5.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="../public/images/target.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                </div>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="../public/images/img6.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="../public/images/target.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                </div>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="../public/images/img7.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="../public/images/target.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                </div>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="../public/images/img8.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="../public/images/target.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="about-print">
            <div class="contenedor">
                <h2 class="titulo">¿Es fácil imprimir 3D?</h2>
                <div class="print-cont">
                    <div class="print-ind">
                        <img src="../public/images/Impresion3D_Paso1.png" alt="">
                    </div>
                    <div class="print-ind">
                        <img src="../public/images/Impresion3D_Paso2.png" alt="">
                    </div>
                    <div class="print-ind">
                        <img src="../public/images/Impresion3D_Paso3.png" alt="">
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="contenedor-footer">
            <div class="contenedor-foo">
                <h4>Contacto</h4>
                <p>11 4447-2065</p>
            </div>
            <div class="contenedor-foo">
                <h4>Correo Electrónico</h4>
                <p>hernysosa2015@gmail.com</p>
            </div>
            <div class="contenedor-foo">
                <h4>Ubicación</h4>
                <p>Bella Vista, Buenos Aires.</p>
            </div>
        </div>
        <h2 class="titulo-final">&copy; Herni Print 3D | Bustamante Hernan</h2>
    </footer>
</body>

</html>